body{
    background: rgb(131, 131, 143);
}
p{
    color: rgb(180, 180, 255);
}

.foto-principal {
    border: 5px double black;
    border-radius: 20% 50% 90% 0%;
    
    margin: 30px;

    padding: 20px 40px;

    box-shadow:12px 12px 12px hsl(242deg 100% 72%);
    
    
    
}
   